$font-size: 15px;
$brand1: #64b5f6;
$brand2: #3f80cb;
$brand3: #4d4d4d;
$brand4: #001529;

$brand-blue: #1890ff;
$brand-red: #ff0000;

$border-color: #eceff1;
$border-hover-color: #c2c2c2;
$border-accent-color: #e5e5e5;

$text-color: #000;
$text-muted-color: #999;
$text-muted-light-color: #c2c2c2;

$gap-size: 15px;

$hover-color: #e4edfe;
$selected-color: #fffacd;
$summary-color: #f6f5f3;

$small-screen: 1000px;
$min-pane-size: 300px;

/* Pane set */
$pane-bg-color: #fff;
$pane-shadow-color: #999;
$pane-overlay-bg: rgba(240, 240, 240, 0.4);
$pane-overlay-bg-hover: rgba(240, 240, 240, 0.2);
$pane-bottom-margin: 300px;

/* Header */
$header-height: 60px;
$header-bg-color: #001529;
$header-bg-active-color: #1890ff;
$header-text-color: #c3c3c3;
$header-text-active-color: #fff;
$header-text-accent-color: #1890ff;
$header-text-hover-color: #fff;
$header-border-color: #555555;

$loader-color: #3f80cb;
$loader-light-color: rgba(63, 128, 203, 0.2);
$line-height: 1.6em;